@use '../Styles/_variables' as v;
@use '../Styles/_mixins' as m;

.error-page {
  background-image: url('../Dashboard/writer-background.jpg');
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
  @include m.flexbox(column, no-wrap, center, center, center);
  width: 100%;
  height: 100vh;
}

.message {
  background-color: v.$navBg;
  padding: 1%;
  border-radius: 5px;
  color: v.$offWhite;
  margin: 2%;
  text-align: center;
  opacity: 90%;
}

.error-page > h4 {
  width: 40%;
  font-size: 1.2rem;
}

.err-textarea {
  width: 40%;
  height: 50%;
}

.back-home-btn {
  background-color: v.$navBg;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  padding: 5%;
  width: 15rem;
  margin: 7% 5% 5% 5%;
}

.back-home-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
