.timer-button {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  background: none;
  cursor: pointer;
}

.green {
  border: 3px solid green;
}

.yellow {
  border: 3px solid yellow;
}

.red {
  border: 3px solid red;
}