@use '../Styles/_variables' as v;
@use '../Styles/_mixins' as m;



.single-story {
    width: 60%;
    height: 100%;
    text-align: center;
    background-image: url('./paper-1.jpg');
    background-size: cover;
    background-attachment:fixed;
    margin: 2%;
    box-shadow: 5px 8px 14px 6px rgba(0,0,0,0.60);
}

.writing-btns {
    @include m.flexbox(column, no-wrap, normal, center, center)

}

button {
    border: none;
    padding: 2.5%;
    border-radius: 2px;
    opacity: 90%;
    box-shadow: 5px 8px 14px 6px rgba(0,0,0,0.10);
    margin: 1%;
    &:hover {
        background-color: v.$navBg;
        color: v.$offWhite;
        font-weight: bold;
        opacity: 100%;
        cursor: pointer;

    }
}

@media (max-width: 500px) {
    .single-story {
        width: 70vw;
        height: 10%;
    }
}