@use '../Styles/_variables' as v;
@use '../Styles/_mixins' as m;

.logo {
  height: 10vh;
  margin-left: 5%;
  align-self: center;
  margin-top: -1%;
}

header {
  @include m.flexbox(row, nowrap, normal, space-between, center);
  background-color: v.$navBg;
  width: 70%;
  color: v.$white;
  top: 0;
  margin-left: 15%;
  align-self: center;
  z-index: 1000;
  position: fixed;
  opacity: 90%;
  border-radius: 5px;
}
  
nav {
  align-self: center;
  flex: 1;
  @include m.flexbox(row, nowrap, normal, flex-end, normal);
  white-space: nowrap;
  
  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    @include m.flexbox(row, nowrap, normal, flex-end, flex-start);

    li {
      position: relative;
      padding: 0 10%;
      border-right: 2px solid v.$offWhite;
    }

    li:last-child {
      border-right: none;
    }
  }
  a {
    color: v.$offWhite;
    letter-spacing: 1px;
    font-size: 1.5em;
  }
}
  
@media (max-width: 700px) {
  header {
    @include m.flexbox(row, nowrap, normal, center, center);
  }
nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 9vh;
  background-color: v.$navBg;
  @include m.flexbox(row, nowrap, center, center, center);
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    @include m.flexbox(row, nowrap, center, center, center);
    
      li {
        position: none;
        padding: 10%;
        margin: 0;
        text-align: center;
        @include m.flexbox(row, nowrap, center, center, center);
      }
    }
  }
}

@media (max-width: 400px) {
  a {
    font-size: 1.1em;
  }
}
