@use '../Styles/_variables' as v;
@use '../Styles/_mixins' as m;

.writing-section {
  margin-top: 3%;
}

.writing-page {
  @include m.flexbox(column, no-wrap, normal, center, normal);
  overflow-x: hidden;
  overflow: hidden;
  margin: 3%;
}

@media screen and (min-width: 40em) {
  .writing-page {
    @include m.flexbox(row, no-wrap, normal, center, normal);
  }
}


// @media screen and (min-width: 40em) {
//   .writing-page {
//     display: grid;
//     grid-template-columns: 3fr 5fr;
//   }
// }

@media (max-width: 700px) {
  .writing-section {
    @include m.flexbox(column, no-wrap, normal, center, normal);
  }
  .writing-page {
    @include m.flexbox(column, no-wrap, center, center, center);
    margin: 14% 0% 0% 3%;
  }
}
