.writing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  overflow: hidden;
  margin-top: 5%;
}

@media screen and (min-width: 40em) {
  .writing-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
