
$button-size: 7.5em;
$button-color: black;
$button-bg-color: rgba( $button-color, .4 );
$button-stroke: $button-size/30;
$arrow-base-size: $button-size/5;

.play-button {
  border: $button-stroke solid $button-color;
  border-radius: 50%;
  box-shadow: 0 0 1px 0px rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  height: 8em;
  opacity: 1;
  overflow: hidden;
  transition: all .25s ease-out;
  transition: background-color .5s ease-in-out;
  text-decoration: none;
  z-index: 1;
  width: $button-size;
}

.audio-box {
  cursor: pointer;
}

.play-button:hover {
  background-color: $button-bg-color;
  
}

.play-arrow-btn {
  border-color: transparent;
  border-style: solid;
  background-color: transparent;
  border-width: $arrow-base-size 0 $arrow-base-size $arrow-base-size*1.6;
  border-top-color: transparent;
  border-left-color: $button-color;	
  display: block;
  height: 0;
  left: $arrow-base-size/3;
  line-height: 0;
  overflow: hidden;
  position: relative;
  text-indent: -20em;
  width: 0;
  cursor: pointer;
  margin-left: 2em;
}

.play-button {
  border: $button-stroke solid transparent;
  box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0);

  &:hover {
    background-color: transparent;
    border: $button-stroke solid $button-color;
    box-shadow: 0 0 1px 0px rgba(255, 255, 255, 1);
    transition: all .25s ease-out;

    .play-arrow {
      transform:scale(.6,.6);
      transition: transform .25s ease-out;
    }

  }
}

.inspirations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1em;
  height: 100%;
  overflow-x: hidden;
  overflow: hidden;
}

.img-inspo {
  height: 5%;
  width: 10%;
}

.new-img-btn {
  margin-top: 5%;
}

.word-inspo {
  display: flex;
  height: 6.5vh;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.5em;
}

.image-box, .word-box {
  height: 10vh;
  width: 25vw;
  margin-top: 1vh;
}

.img-inspo {
  height: 100%;
  width: 100%;
}

.new-img-btn,
.new-word-btn,
.new-audio-btn {
  background-color: #52736B;
  color: white;
  width: 100%;
  height: 3vh;
  box-shadow: none;
  border: none;
  border-radius: 3px;
}

.choose-time-btn {
  background-color: #3b544d;
  color: white;
  width: 100%;
  height: 3vh;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  margin-top: 2em;
}

@media screen and (min-width: 40em) {
  .container {
    display: flex;
    flex-direction: column;
    width: 76%;
    margin: 0;
  }
  .inspirations {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    align-items: flex-start;
    width: 60%;
  }
  .image-box, .word-box {
    height: 10%;
    width: 30%;
  }
  .play-arrow-btn {
    border-width: $arrow-base-size*2 0 $arrow-base-size*2 ($arrow-base-size*1.6)*2;
    transition: transform .25s ease-in;
    margin-left: 3em;
  }
  .img-inspo {
    height: 21vh;
    width: 20vw;
  }
  .word-inspo {
    font-size: 32px;
    margin-left: 2vw;
    margin-top: 45px;
  }
  .audio-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .new-img-btn,
  .new-word-btn,
  .new-audio-btn {
    width: 10vw;
    height: 3vh;
  }
  .play-button {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
  }
  .choose-time-btn{
    width: 15em;
    margin-left: 2em;
  }
}

@media screen and (min-width: 640px) {
  .new-img-btn,
  .new-word-btn,
  .new-audio-btn {
    width: 15vw;
    height: 3vh;
  }
  .inspirations {
    margin-right: 0;
  }
}