@use '../Styles/_variables' as v;
@use '../Styles/_mixins' as m;
$button-size: 7.5em;
$arrow-base-size: $button-size/5;
$button-size: 7.5em;

.container {
  @include m.flexbox(column, no-wrap, center, center, center);
  width: 50%;
  margin-top: 3%;
}

.inspirations {
  display: grid;
  height: 90%;
  overflow-x: hidden;
  overflow: hidden;
  margin: 4%;
}

.img-container,
.word-inspiration,
.audio-inspiration {
  box-sizing: content-box;
  @include m.flexbox(column, no-wrap, center, center, center);
}

.img-container > img {
  height: 60%;
  width: 60%;
  border: white 3px solid;
  border-radius: 5px;
}

.img-container > button {
  margin-top: 5%;
}

.word-inspiration,
.audio-inspiration,
.img-container {
  width: 100%;
  height: 100%;
  margin: 1%;
}

.word-inspiration {
  color: v.$offWhite;
}

.new-img-btn,
.new-word-btn,
.new-audio-btn {
  background-color: #52736B;
  color: white;
  width: 12vw;
  height: 4vh;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  box-shadow: 5px 8px 14px 6px rgba(0,0,0,0.50);

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s all;
  }
}

.choose-time-btn {
  background-color: #3b544d;
  color: white;
  width: 20vw;
  height: 4vh;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  margin-top: 2em;
  box-shadow: 5px 8px 14px 6px rgba(0,0,0,0.50);

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s all;
  }
}

@media (max-width: 700px) {
  .container {
    @include m.flexbox(row, no-wrap, normal, normal, center);
    width: 90%;
    margin: 1%;
  }

  .inspirations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }
  
  .img-container > img {
    height: 60%;
    width: 60%;
    margin: 0;
  }

    .word-inspiration,
    .audio-inspiration,
    .img-container {
      margin: 0%;
      width: 100%;
      height: 100%;
    }
}