.past-stories {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 5%;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    margin-bottom: 4em;
}

body
    {
    width: 100%;
    height: 100%;
    background-image: url('./writer-background.jpg');
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
    }

.past-writings{
    align-self: center;
    margin-left: 8%;
    font-family: Helvetica;
    font-weight: 200;
    color: white;
}

@media (max-width: 500px) {
    .past-stories {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
