@use '../Styles/_variables' as v;
@use '../Styles/_mixins' as m;

.past-stories {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 5%;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    margin-bottom: 5em;
}

body
    {
    width: 100%;
    height: 100%;
    background-image: url('./writer-background.jpg');
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
    }

.past-writings{
    align-self: center;
    margin-left: 8%;
    font-family: Helvetica;
    font-weight: 200;
    color: white;
}

.no-stories {
    position: absolute;
    text-align: center;
    margin-top: 20%;
}

.no-stories-message {
    background-color: v.$navBg;
    padding: 5%;
    border-radius: 5px;
    color: v.$offWhite;
    margin: 2%;
    text-align: center;
    opacity: 90%;
}

.go-to-writing-page {
    background-color: v.$navBg;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    padding: 5%;
    width: 15rem;
    margin: 7% 5% 5% 5%;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

@media (max-width: 500px) {
    .past-stories {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
