
.audio-box {
  display: block;
  position: relative;
  width: 70px;
  cursor: pointer;
  align-self: center;
}

.audio-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.audio-styling::before {
  box-sizing: border-box;
  position: absolute;
  height: 30px;
  width: 0;
  border: 0 solid transparent;
  border-left-color: black;
  border-width: 15px 0 15px 28px;
  transition: .2s ease;
  content: '';
}

.audio-styling::after {
  position: absolute;
  left: 11px;
  height: 30px;
  border-left: 0 solid white;
  transition: .2s ease;
  content: '';
}

.audio-checkbox:checked + span::before {
  border-width: 0 0 0 28px;
}

.audio-checkbox:checked + span::after {
  left: 9.5px;
  border-width: 9px;
}