@use '../Styles/_mixins' as m;
@use '../Styles/variables' as v;

.audio-box {
  @include m.flexbox(row, no-wrap, center, space-evenly, center);
  height: 60%;
  width: 60%;
  box-sizing: content-box;
}

.play-button,
.pause-button {
  height: 50%;
  width: 50%;
  margin: 5%;
  border: #24382e 3px solid;
  border-radius: 5px;
  background-color: v.$offWhite;
}

.play-button,
.pause-button:hover {
  cursor: pointer;
}

.is-clicked {
  background-color: v.$yellow
}