
.audio-box {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 20%;
  width: 80%;
}

.play-button,
.pause-button {
  height: 50%;
  width: 50%;
  background-color: rgb(176,176,176, 1)
}

.play-button,
.pause-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .play-button,
  .pause-button {
    height: 20%;
    width: 20%;
  }
}